@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: url('../../imgs/bg1.png') no-repeat;
  background-size: cover;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 6%;
  

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Need more practice */
header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  z-index: -1;
}

.logo > p {
  font-family: inherit; /* What is inherit? */
  color: white;
  font-size: 25px;
  cursor: pointer;
  font-weight: 700;
}

.navbar > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navbar > ul > li {
  list-style: none;
  cursor: pointer;
  padding: 3px 1px;
}

/*    */

.icons {
  font-size: 25px;
  color: white;
  cursor: pointer;
  display: none;
}
.navbar > ul > li > a {
  text-decoration: none;
  color: white;

}

#checkbox {
  display: none;
}

/* BRACKPOINTS */
@media (max-width: 730px) {
  .icons {
    position: absolute;
    display: inline-flex;
    right: 5%;
  }

  .icons > #close-icon {
    display: none;
  }

  #checkbox:checked ~ .icons #menu-icon {
    display: none;
  }
  #checkbox:checked ~ .icons #close-icon {
    display: block;
  }

  .navbar > ul{
    position: absolute;
    top: -500%;
    left: 0;
    width: 100%;
    padding-top: 15%;
    
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    overflow: hidden;
    transition: 0.2s;
    z-index: -100;
  }
  
  #checkbox:checked ~ .navbar > ul{
    height: 100vh;
    top: 100%; /* How working this */
    
  }

  .logo > p {
    font-size: 25px;
    text-align: center;
  }
}