/* font-family: 'M PLUS Code Latin', monospace; */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@200;300;400&display=swap');

.mainSkillDiv {
    font-family: 'M PLUS Code Latin', monospace;
    height: 100vh;
}

.skillHead {
    text-align: center;
}

.skillsDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.singleSkills {
    width: 300px;
}

.singleSkills > div {
    height: 20px;
    margin: 5px 0;
}

.developmentSkills > p {
    text-align: end;
    font-size: 25px;
}
.otherSkills > p {
    font-size: 25px;
}

.React, .javascript, .css, .html {
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 13px;
}

.React .reactSkill {
    width: 70%;
    height: 13px;
    margin-left: 5px;
    background-color: aqua;
}


.javascript .jsSkill {
    width: 60%;
    height: 13px;
    background-color: aqua;
}

.jsSkill2 {
    width: 40%;
    height: 13px;
    background-color: rgb(0, 86, 86);
}

.css .cssSkill {
    width: 75%;
    height: 13px;
    margin-left: 5px;
    background-color: aqua;
}

.html .htmlSkill {
    width: 80%;
    height: 13px;
    margin-left: 5px;
    background-color: aqua;
}